<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div id="header">
        <h1 id="header-title">NABE-ATSU GAME</p>
    </div>
    <div id="wrapper">
        {% block content %}
        <!-- ここにメインコンテンツを書く -->
        {% endblock %}
    </div>
    <div id="footer">
        <p>© 2021 yotarotsukada</p>
    </div>
</body>


</html>